<html>
  <head>
    <title>404 Not Found!</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div style="background-color: #fff">
      <div class="text-center">
        <h1 style="font-size: 400px">404</h1>
        <h3>Page not found.</h3>
        <br />
        <h5>
          The page you have requested is currently unavailable in our system.
        </h5>
        <br />
        <a href="https://www.asha-holdings.com/" class="btn btn-primary"
          >Return Home</a
        >
      </div>
    </div>
  </body>
</html>
