.image {
	overflow: hidden;
	margin: 0 auto;
}

.image img {
	width: 100%;
	transition: 0.5s all ease-in-out;
}

.image:hover img {
	transform: scale(1.5);
}

.about-message-area {
	position: relative;
	text-align: justify;
	width: 100%;
	margin-right: 500px;
}
.about-content-area p {
	text-align: justify;
}
// .about-image-area img{
// 	@media #{$desktop-device} {
// 		height: 400px;
// 	}
// }
