#text,
#image {
  min-height: 100px;
  line-height: 100px;
  font-size: 2em;
  text-align: center;
  color: #ffffff;
}
#text {
  width: 60%;
  background-color: #ff6600;
  float: left;
}
#image {
  width: 40%;
  background-color: #ff0066;
  float: right;
}
@media screen and (max-width: 800px) {
  #text,
  #image {
    width: 100%;
    float: none;
    margin: 0 0 5px;
  }
}
